.title {
  background: linear-gradient(to right, red, orange, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  filter: drop-shadow(1px 1px 1px white) drop-shadow(-1px -1px 1px white);
  font-size: 3rem;
}